Package: com.udevs.dockx
Name: DockX
Depends: mobilesubstrate, preferenceloader, com.rpetrich.rocketbootstrap (>= 1.0.2), firmware(>=12.0), com.spark.libsparkcolourpicker
Version: 2.2.8
Architecture: iphoneos-arm
Description: Pasteboard shortcuts on your keyboard dock!
Maintainer: udevs
Author: udevs
Section: Tweaks
Conflicts: com.restiveconch.actionbar
Icon: https://udevsharold.github.io/repo/depictions/com.udevs.dockx/icon/icon.png
Depiction: https://udevsharold.github.io/repo/depictions/?p=com.udevs.dockx