<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOMIZATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>colorBOOL</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SHORTCUTS_TINT</string>
			<key>key</key>
			<string>shortcutstint</string>
			<key>id</key>
			<string>shortcutstintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#ff0000</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>shortcutstintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>shortcutstintselection</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SHORTCUTS_BACKGROUND_TINT</string>
			<key>key</key>
			<string>shortcutsbackgroundtint</string>
			<key>id</key>
			<string>shortcutsbackgroundtintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#5B5B5B</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>shortcutsbackgroundtintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>shortcutsbackgroundtintselection</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TOAST_TINT</string>
			<key>key</key>
			<string>toasttint</string>
			<key>id</key>
			<string>toasttintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#ff0000</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>toasttintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>toasttintselection</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TOAST_BACKGROUND_TINT</string>
			<key>key</key>
			<string>toastbackgroundtint</string>
			<key>id</key>
			<string>toastbackgroundtintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#000000</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>toastbackgroundtintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>toastbackgroundtintselection</string>
		</dict>
	</array>
	<key>title</key>
	<string>Customization</string>
</dict>
</plist>
