<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>TWEAK</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>enabledBOOL</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SHORTCUTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>hapticBOOL</string>
			<key>label</key>
			<string>HAPTIC</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>shakeBOOL</string>
			<key>label</key>
			<string>SHAKE_SHORTCUT</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>toastBOOL</string>
			<key>label</key>
			<string>SHOW_TOAST</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>ICON</string>
				<string>TEXT</string>
			</array>
			<key>key</key>
			<string>displaytype</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>displaytypeselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.8</real>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>toastpy</string>
			<key>leftImage</key>
			<string>py.png</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>50</integer>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>pyslider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>5</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>toastduration</string>
			<key>leftImage</key>
			<string>timer.png</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>50</integer>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>timerslider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_SHORTCUT_NUM</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>DXPManageShortcutsController</string>
			<key>label</key>
			<string>MANAGE_SHORTCUTS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>doubletapBOOL</string>
			<key>label</key>
			<string>DOUBLE_TAP</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>shootingstarBOOL</string>
			<key>label</key>
			<string>SHOOTING_STAR</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
			</array>
			<key>key</key>
			<string>shortcutsnum</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>6</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>modeselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_DISPLAY_STYLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>ICON</string>
				<string>TEXT</string>
			</array>
			<key>key</key>
			<string>shortLabelBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_SWIPE_SPACE_BAR_TOGGLE_BARMOJI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>ANSWER_YES</string>
				<string>ANSWER_NO</string>
			</array>
			<key>key</key>
			<string>swipetoggle</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>swipetoggleselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_DOCK_MODE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>DICTATION_ONLY</string>
				<string>GLOBE_ONLY</string>
				<string>NONE</string>
			</array>
			<key>key</key>
			<string>dockmode</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>dockmodeselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_TOGGLE_BUTTON</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>NONE</string>
				<string>GLOBE</string>
				<string>DICTATION</string>
				<string>BOTH</string>
			</array>
			<key>key</key>
			<string>gesturebutton</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>gesturebuttonselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>FOOTER_GESTURE_TYPE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>SINGLE_TAP</string>
				<string>LONG_PRESS</string>
			</array>
			<key>key</key>
			<string>gesturetype</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>0</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>gesturetypeselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPACE_BAR_SCROLLING</string>
			<key>footerText</key>
			<string>FOOTER_SPACE_BAR_SCROLLING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>enabledSpaceBarScrollingBOOL</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>8</integer>
			<key>showValue</key>
			<true/>
			<key>key</key>
			<string>granularityvalue</string>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>7</integer>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>granularityslider</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CUSTOMIZATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>colorBOOL</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SHORTCUTS_TINT</string>
			<key>key</key>
			<string>shortcutstint</string>
			<key>id</key>
			<string>shortcutstintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#ff0000</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>shortcutstintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>shortcutstintselection</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>SHORTCUTS_BACKGROUND_TINT</string>
			<key>key</key>
			<string>shortcutsbackgroundtint</string>
			<key>id</key>
			<string>shortcutsbackgroundtintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#5B5B5B</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>shortcutsbackgroundtintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>shortcutsbackgroundtintselection</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TOAST_TINT</string>
			<key>key</key>
			<string>toasttint</string>
			<key>id</key>
			<string>toasttintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#ff0000</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>toasttintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>toasttintselection</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>TOAST_BACKGROUND_TINT</string>
			<key>key</key>
			<string>toastbackgroundtint</string>
			<key>id</key>
			<string>toastbackgroundtintpicker</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>PreviewGradient</key>
				<false/>
				<key>PreviewStyle</key>
				<integer>3</integer>
				<key>defaults</key>
				<string>com.udevs.dockx</string>
				<key>alpha</key>
				<true/>
				<key>fallback</key>
				<string>#000000</string>
			</dict>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>detail</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>DISABLED</string>
				<string>ENABLED</string>
			</array>
			<key>key</key>
			<string>toastbackgroundtintBOOL</string>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>default</key>
			<string>1</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
			<key>id</key>
			<string>toastbackgroundtintselection</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PAGING</string>
			<key>footerText</key>
			<string>FOOTER_PAGING</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.udevs.dockx</string>
			<key>key</key>
			<string>pagingBOOL</string>
			<key>label</key>
			<string>PAGING</string>
			<key>PostNotification</key>
			<string>com.udevs.dockx/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ADVANCED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>DXPAdvancedController</string>
			<key>label</key>
			<string>ADVANCED_SETTINGS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVELOPMENT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>donation</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>label</key>
			<string>SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>CONTACT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>twitter</string>
			<key>icon</key>
			<string>Twitter.png</string>
			<key>label</key>
			<string>TWITTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reddit</string>
			<key>icon</key>
			<string>Reddit.png</string>
			<key>label</key>
			<string>REDDIT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FOOTER_CREATED</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>FOOTER_CREDITS</string>
		</dict>
	</array>
	<key>title</key>
	<string>DockX</string>
</dict>
</plist>
